<h1> New Article Controler </h1>
<%= form_with do |f|%>
<p>Form</p>
<%= f.text_field :field, placeholder: "placeholder", id: 'id' %> <br>
<%= f.text_field :field, placeholder: "placeholder", id: 'id1' %>
<%= f.submit value: 'submit'%>
<%end%>