<h1> Send you message</h1>

<%=form_with url: home_get_message_path,  data: { 'turbo': 'false' } do |f|%>
  <div> 
    <%= f.email_field :address, placeholder: 'Input your e-mail' %>
  </div>
  <div style='padding: 10px 0px 10px 0px'>
  <%= f.text_area :message, size: "70x3" %>
  </div>
  <div>
  <%= f.submit value: 'Send message' %>
  </div>
<%end%>