<h1> Send you message</h1>

<%=form_with model: @contact, url: contacts_path,  data: { 'turbo': 'false' } do |f|%>
  <div> 
    <%= f.email_field :email, placeholder: 'Input your e-mail' %>
  </div>
  <div style='padding: 10px 0px 10px 0px'>
  <%= f.text_area :message, size: "70x3" %>
  </div>
  <div>
  <%= f.submit %>
  </div>
<%end%>